/* ================================
   LOADER
================================ */

.loader {
  display: inline-block;
  position: relative;
}

.spinner {
  border: 4px solid #ddd;
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
